.header {
  margin: 0;
  padding: 0;
  text-align: center;
  color: grey;
  font-weight: 300;
}

button {
  background-color: #4CAF50;
  border-radius: 4px;
  color: white;
  height: 20%;
  font-weight: 400;
}

.book-list {
  margin-left: 20vw;
  margin-top: 10vw;
  width: 70em;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 50%;
}

.book img {
  float: left;
  margin-bottom: 90px;
  margin-right: 20px;
  border: 3px solid black;
}